.App {
padding: 20x;

 
}
.section{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 20px;
}
.navbar-light .navbar-brand{
  font-size: 39px;
    font-family: monospace;
    color: gray;
}
.drive{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 20px

}

